/* Reset CSS */
/* 

* {
  box-sizing: border-box;
}

*/

body {
  margin: 0;
}

nav ul {
  list-style-type: none;
  padding-left: 0;
}
/* Fin Reset CSS */

.container {
  background-color: lightgoldenrodyellow;
  width: 980px;
  height: 100vh;
  margin: 0 auto;
  display: grid;

  grid-template-rows: 100px auto; /* minmax (vh) */
  grid-template-columns: 200px 1fr;

  grid-template-areas: "h h"
                       "a m";
  /* EXERCICE */
  /* Dessiner la grille */
  /* soit comme dans CSS Grid Garden avec grid-template-rows et grid-template-columns 
  puis placer les élement sur la grille avec grid-(columns|rows)-(start|end) */

  /* soit comme dans https://developer.mozilla.org/fr/docs/Web/CSS/grid-template-areas avec grid-template-rows et grid-template-columns 
  puis definir les elements avec grid-template-areas et les placer avec grid-area */
}

@media (max-width: 500px) {
  .container {
    width: 100%;
    grid-template-rows: 100px auto auto; /* minmax (vh) */
    grid-template-columns: unset;

    grid-template-areas: "h"
                         "m"
                         "a";
  }
}

header {
  grid-area: h;
  background-color: lightblue;
  position: relative;
}

header h1 {
  margin: 0;
}

header nav {
  background-color: lightseagreen;
  position: absolute;
  top: 0;
  right: 0;
}

aside {
  grid-area: a;
  padding: 10px 0;
  background-color: lightsalmon;
}

aside a {
  margin: 1em 0;
  display: block;
  background-color: brown;
}

main {
  grid-area: m;
  box-sizing: border-box;
  padding: 10px;
  background-color: lightgrey;
}

.breadcrumb li {
  display: inline;
}

.breadcrumb li + li::before {
  content: ' > ';
}

@media (max-width: 500px) { 
  .breadcrumb {
    display: none;
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 150px;
  grid-gap: 6px;
}

@media (max-width: 500px) { 
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

.gallery > div {
  background-color: lightcoral;
}


/* Utilitaires */
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
/* Fin Utilitaires */